 nav.navigation {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 0 10px #CCCCCC;
    float: left;
    font-size: 12px;
    margin-top: 70px;
    width: 950px;
    margin-left: -50px;
    margin-bottom: 200px;
}